.timelinebox {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
}
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    width: max-content;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: 1px;
}

/* Container around content */
.containertimeline {
    padding: 10px 30px;
    position: relative;
    background-color: inherit;
    width: 100%;
}

/* The circles on the timeline */
.received::after {
    border: 4px solid #e74c3c !important;
}

.closed::after {
    border: 4px solid #2ecc71 !important;
}

.containertimeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 10px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 0;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 13px;
    width: 0;
    z-index: 1;
    left: 21px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -8px;
}

/* The actual content */
.timeline-content {
    padding: 2px 15px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  
  /* Full-width containers */
  .containertimeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .containertimeline::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
#map_wrapper {
height: 400px;
}

#map_canvas {
width: 100%;
height: 100%;
}
#mapimg {
display: table;
margin: 0 auto;
}

h5, .h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
}

/* Labels ====================================== */
.label {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
  
  .label-primary {
    background-color: #1f91f3; }
  
  .label-success {
    background-color: #2b982b; }
  
  .label-info {
    background-color: #00b0e4; }
  
  .label-warning {
    background-color: #ff9600; }
  
  .label-danger {
    background-color: #fb483a; }

    .label {
        display: inline;
        padding: 0.2em 0.6em 0.3em;
        font-size: 75%;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25em;
        margin-left: 20px;
    }

    .timeline-content {
        padding: 2px 15px;
        background-color: white;
        position: relative;
        border-radius: 6px;
    }

  .contextMenu {
      background-color: rgb(255, 255, 255);
      border: 2pxsolid rgb(255, 255, 255);
      border-radius: 3px;
      box-shadow: rgb(0 0 0 / 30%) 0px 2px 6px;
      cursor: pointer;
      font-size: 18px;
      padding: 10px;
      text-align: center;
      color: #0d1f49;
      display: none;
      width: max-content;
      margin: 1px;
  }

  .graph-info-box-center {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.good {
  background: green;
}
.bad {
  background: yellow;
}
.poor {
  background: red;
}
.graph-info-box, .graph-info-box-center span {
  margin-left: 12px;
}
.graph-info-box {
  height: 20px;
  width: 20px;
  float: left;
}